@import "../../index.scss";

.host {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &__name {
        color: $main-color;
        font-size: 18px;
        font-weight: 500;
        width: min-content;
        padding-right: 10px;
        text-align: right;
    }

    &__img {
        height: 64px;
        width: 64px;
        object-fit: cover;
        object-position: center;
        border-radius: 50%;
    }
}

.rating {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 20px;
    gap: 10px;

    &__star {
        height: 24px;
    }
}