@import "../../index.scss";

.collapsible {
    display: flex;
    flex-direction: column;
    margin: 20px 200px;


    &__button {
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 2;
        cursor: pointer;
        align-items: center;
        height: 50px;
        border: none;
        border-radius: 5px;
        background-color: $main-color;
        color: $color-white;
        font-size: 24px;
        font-weight: 700;
        padding: 10px 20px 10px 15px;

        .arrow {
            height: 14px;
            width: 24px;

            &__up {
                transform: rotate(0);
                transition: transform 600ms;
            }

            &__down {
                transform: rotate(-180deg);
                transition: transform 600ms;
            }
        }
    }

    &__content {
        height: 0;
        overflow: hidden;
        transition: height 2s ease-in-out;
    }

    &__active {
        .collapsible__content {
            height: auto;
            position: relative;
            z-index: 1;
            background-color: $background-color-grey;
            border-radius: 5px;
            color: $color-black;
            font-size: 18px;
            font-weight: 400;
            padding: 30px;
            margin-top: -8px;
        }
    }
}