@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// VARIABLES //
$main-color: #FF6060;
$color-white: #FFF;
$color-black: #000;
$background-color-grey: #F6F6F6;

//GENERAL
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

body {
  max-width: 1920px;
  min-width: 320px;
  margin: auto;
}
